<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Disciplinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #disciplinaForm="ngForm" novalidate>

    <ion-item>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input #nome="ngModel" type="text" [(ngModel)]="disciplina.nome" name="nome" required minlength="5"></ion-input>
      <ion-text color="danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
        <small>
          <span *ngIf="nome.errors.required">
            O nome é obrigatório
          </span>
          <span *ngIf="nome.errors.minlength">
            O nome deve ter no mínimo 5 caracteres
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Carga horária: </ion-label>
      <ion-input  #cargaHoraria="ngModel" type="number" [(ngModel)]="disciplina.cargaHoraria" name="cargaHoraria" required pattern="[0-9]+"></ion-input>
      <ion-text color="danger" *ngIf="cargaHoraria.invalid && (cargaHoraria.dirty || cargaHoraria.touched)">
        <small>
          <span *ngIf="cargaHoraria.errors.required">
            A carga horária é obrigatória.
          </span>
          <span *ngIf="cargaHoraria.errors.pattern">
            A carga horária deve ser superior a zero.
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Curso:</ion-label>
      <ion-select [(ngModel)]="disciplina.cursos" multiple="false" placeholder="Selecione o curso"
        [compareWith]="compareWith" name="curso" >
        <ion-select-option *ngFor="let curso of cursos" [value]="curso">
          {{curso.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <section class="full-width">
      <ion-button expand="full" color="secondary" (click)="salvar(disciplina)" [disabled]="disciplinaForm.invalid" color="danger">Salvar</ion-button>
    </section>

  </form>
</ion-content>
