<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #cursoForm="ngForm" novalidate>

    <ion-item>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input #nome="ngModel" type="text" [(ngModel)]="curso.nome" name="nome" required minlength="5"></ion-input>
      <ion-text color="danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
        <small>
          <span *ngIf="nome.errors.required">
            O nome é obrigatório
          </span>
          <span *ngIf="nome.errors.minlength">
            O nome deve ter no mínimo 5 caracteres
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Escola:</ion-label>
      <ion-select [(ngModel)]="curso.escola" multiple="false" placeholder="Selecione a escola"
        [compareWith]="compareWith" name="escola" >
        <ion-select-option *ngFor="let e of escola" [value]="e">
          {{e.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Carga horária: </ion-label>
      <ion-input #cargaHoraria="ngModel" type="number" [(ngModel)]="curso.cargaHoraria" name="cargaHoraria" required pattern="[0-9]+"></ion-input>
      <ion-text color="danger" *ngIf="cargaHoraria.invalid && (cargaHoraria.dirty || cargaHoraria.touched)">
        <small>
          <span *ngIf="cargaHoraria.errors.required">
            A carga horária é obrigatória.
          </span>
          <span *ngIf="cargaHoraria.errors.pattern">
            A carga horária deve ser superior a zero.
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar(curso)" [disabled]="cursoForm.invalid" color="danger">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>
</ion-content>
