<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Professores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #professorForm="ngForm" novalidate>

    <ion-item>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input #nome="ngModel" type="text" [(ngModel)]="professor.nome" name="nome" required minlength="3"></ion-input>
      <ion-text color="danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
        <small>
          <span *ngIf="nome.errors.required">
            O nome é obrigatório
          </span>
          <span *ngIf="nome.errors.minlength">
            O nome deve ter no mínimo 5 caracteres
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <br>
      <ion-badge color="warning">Opcional</ion-badge>
      <ion-label position="floating">Endereço: </ion-label>
      <ion-input #endereco="ngModel" type="text" [(ngModel)]="professor.endereco" name="endereco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF: </ion-label>
      <ion-input #cpf="ngModel" type="text" [(ngModel)]="professor.cpf" name="cpf" pattern="[0-9]+" required minlength="11" maxlength="11"></ion-input>
      <ion-text color="danger" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
        <small>
          <span *ngIf="cpf.errors.required">
            O CPF é obrigatório
          </span>
          <span *ngIf="cpf.errors.minlength">
            O CPF deve ter no mínimo 11 caracteres
          </span>
          <span *ngIf="cpf.errors.maxlength">
            O CPF deve ter no máximo 11 caracteres
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Disciplina:</ion-label>
      <ion-select [(ngModel)]="professor.disciplinas" multiple="false" placeholder="Selecione a disciplina" name="disciplinas"  [compareWith]="compareWith">
        <ion-select-option *ngFor="let e of disciplina" [value]="e">
          {{e.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagem (URL): </ion-label>
      <ion-input #imagem="ngModel" type="url" [(ngModel)]="professor.imagem" name="imagem" required></ion-input>
      <ion-text color="danger" *ngIf="imagem.invalid && (imagem.dirty || imagem.touched)">
        <small>
          <span *ngIf="imagem.errors.required">
            A imagem é obrigatória.
          </span>
        </small>
      </ion-text>
    </ion-item>
    
    <section class="full-width">
      <ion-button expand="full" color="secondary" (click)="salvar(professor)" [disabled]="professorForm.invalid" color="danger">Salvar</ion-button>
    </section>

  </form>
</ion-content>
