<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gerenciador Escolar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo ao Gerenciador Escolar!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Crie, edite e exclua, todas as informações relacionadas a sua escola.
    </ion-card-content>
  </ion-card>

</ion-content>
